.card1 {
  /* margin-top: 10px;
  margin-left: 10px; */
  /* padding-bottom:10px;
  margin-bottom:10px; */
  height: 170px;
  /* border: solid;
  border-color: rgb(119, 69, 4); */
  /* color: rgb(119, 69, 4);
  background-color: #f8f9fa!important; */
  margin:0 auto;
  font-size:10px;
  background-color:rgb(82, 82, 82);
  color:white;
  text-align:left;
  width: 14rem;
  background-image: linear-gradient(135deg, #dbd8d8 12.50%, lightgrey 12.50%, lightgrey 25%, #cfc3c3 25%, #cfc3c3 37.50%, #e3e6e8 37.50%, #e3e6e8 50%, #dbd8d8 50%, #dbd8d8 62.50%, lightgrey 62.50%, lightgrey 75%, #cfc3c3 75%, #cfc3c3 87.50%, #e3e6e8 87.50%, #e3e6e8 100%);
  background-size: 80.00px 80.00px;
  border-radius: 4px;

}
.card-body {
  color:black;
}
 .card-body a:link {
  color: black
} 

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  margin-bottom:10px;
  padding-bottom:10px;
}
.tab1 { 
  tab-size: 2; 
} 

.tab2 { 
  tab-size: 4; 
} 

.tab4 { 
  color:black;
  tab-size: 8; 
} 

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:pink;
  background-color: transparent;
  text-decoration: underline;
}