.card1 {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom:10px;
  margin-bottom:10px;
  height: 160px;
  /* border: solid;
  border-color: rgb(119, 69, 4); */
  /* color: rgb(119, 69, 4);
  background-color: #f8f9fa!important; */
  margin:0 auto;
  font-size:10px;
  background-color:rgb(139, 137, 137);
  color:white;
  text-align:left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  margin-bottom:10px;
  padding-bottom:10px;
}
.tab1 { 
  tab-size: 2; 
} 

.tab2 { 
  tab-size: 4; 
} 

.tab4 { 
  tab-size: 8; 
} 

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:pink;
  background-color: transparent;
  text-decoration: underline;
}