.card {
  background: #fff;
  border-radius: 2px;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 50%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  background:#292b2c
}
.card > .img-container > img {
  width: 90%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}


.card-img-top {
	width: 100%;
	height: 40vw;
	object-fit: cover;
}

 ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
} 
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.myYButton {
margin-left:3px;
	margin-top:20px;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block; 
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	/* padding:6px 24px; */
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffee66; */
}
.myYButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myYButton:active {
	position:relative;
	top:1px;
}

.myGButton {
	margin-top:20px;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
  border:1px solid #268a16;
  display:inline-block; 
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	/* padding:6px 24px; */
	text-decoration:none;
	/* text-shadow:0px 1px 0px #aade7c; */
}
.myGButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.myGButton:active {
	position:relative;
  top:1px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:pink;
  background-color: transparent;
  text-decoration: underline;
}