.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration:none;
  color: #2A77AE;
  color:black;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
  margin-bottom: 50px;
}

.myBButton {
  margin-bottom: 50px;
  text-align: center;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:3rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
/* .myBButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
} */
.myBButton:active {
	position:relative;
	top:1px;
}
